<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hi! Nice to see you here!👋 </h1>

<p>🇦🇷 I'm from Argentina, living in Rosario.</p>

<p>🔭 I've been working as a Product Manager and Agile Coach for two years because I love working with people, looking to improve the process with the team, and help create the most incredible products from the Product Manager role. </p>

<p>✨ But also I really enjoy programming, so, here I am... Introducing myself as a full-stack developer. Previous to become Product Manager, I worked as a full stack developer for four years, using Java and Gosu on the backend, and AngularJS, Angular, and React. (JS, TS, CSS, HTML5) on the frontend.</p>

<p>🌱 Currently, in my free time, I collaborate as a full-stack developer on Wikn, which is the team that I co-founded five years ago, with the stack that I mentioned. We have a client who takes 100% of our time, for now! Because we plan to start writing our story as a Start-Up in the next years.</p>

<h3>Things I code with</h3>
<p>
  <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />
  <img alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
  <img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" />
  <img alt="ReactiveX" src="https://img.shields.io/badge/-RxJs-B7178C?style=flat-square&logo=reactivex&logoColor=white" />
  <img alt="Sass" src="https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=white" />
  <img alt="Styled Components" src="https://img.shields.io/badge/-Styled_Components-db7092?style=flat-square&logo=styled-components&logoColor=white" />
  <img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
  <img alt="NextJs" src="https://img.shields.io/badge/-MySQL-informational?style=flat-square&logo=Next.js&logoColor=white" />
  <img alt="angular" src="https://img.shields.io/badge/-Angular-DD0031?style=flat-square&logo=angular&logoColor=white" />
  <img alt="npm" src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white" />
  <img alt="html5" src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white" />
  <img alt="Prettier" src="https://img.shields.io/badge/-Prettier-F7B93E?style=flat-square&logo=prettier&logoColor=white" />
  <img alt="MongoDB" src="https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white" />
  <img alt="MySql" src="https://img.shields.io/badge/-MySQL-lightgrey?style=flat-square&logo=mysql&logoColor=blue" />
  <img alt="Nodejs" src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white" />
  <img alt="Java" src="https://img.shields.io/badge/-Java-blue?style=flat-square&logo=java" />
  <img alt="Maven" src="https://img.shields.io/badge/-Maven-critical?style=flat-square&logo=apachemaven&logoColor=white" />
</p>

<p>💬 If you want to know more about me just text me, will be a pleasure to chat!</p>

<p>👋 I'm working on this 'Introducing myself repository', so it's all for now.</p>

<h3>ℹ️ Where to find me</h3>
<p>
    <a href="mailto:estebanddlp@gmail.com" target="_blank">
        <img alt="Github" src="https://img.shields.io/badge/-SEND%20ME%20AN%20EMAIL-red?logo=gmail&color=white&style=for-the-badge" />
    </a>
    <a href="https://www.linkedin.com/in/estebandlp/" target="_blank">
        <img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" />
    </a>
    <a href="https://github.com/estebandlp" target="_blank">
        <img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" />
    </a>
</p>

<p>I hope you have a great day 😊</p>

------------------------------------------------
<p align="center">
    This <i>README</i> file is generated <b>every 24 hours</b>!</br>Last refresh: {{refresh_date}} <br />
    I want to thanks <a href="https://github.com/thmsgbrt">Thomas Guibert</a>, who through <a href="https://medium.com/@th.guibert/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91"> 
    his post on Medium</a> helps me to create my own updating readme md!.
</p>
